header#titlebar .logo {
  line-height: 100px;
  margin: 0;
}

header#titlebar .name {
  font-size: 34px;
  color: #0096a6;
  line-height: 100px;
  height: 100px;
  padding: 0;
  margin-left: 30px;
}

header#page-header {
  background-color: #28afcd;
  color: white;
}

header#page-header .region-header {
  padding: 30px 15%;
}

header#page-header .region-header label {
  display: none;
}

header#navbar {
  background-color: #1d8699;
  color: white;
  margin-bottom: 30px;
}

header#navbar a {
  font-size: 18px;
  color: white;
}

.footer {
  background-color: #a3e7f0;
  padding: 35px 15px;
  border: 0;
}

.region-footer .block {
  position: relative;
  float: left;
  width: 25%;
  color: #212121;
}

.region-footer .block h2 {
  font-size: 20px;
  margin-top: 0;
}

.region-footer .block a {
  color: #212121;
}

footer section#block-block-1 {
  margin-top: 260px;
}
