@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

a {
  color: #1d8699;
}

a:hover {
  color: #187080;
}

header#page-header .region-header .form-control {
  border-color: #979797;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2) inset;
}

header#page-header .region-header .form-control:focus {
  border-color: #fa9900;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset, 0 0 8px #fa9900;
  outline: 0 none;
}

header#titlebar .logo {
  line-height: 100px;
  margin: 0;
}

header#titlebar .name {
  font-size: 34px;
  color: #0096a6;
  line-height: 100px;
  height: 100px;
  padding: 0;
  margin-left: 30px;
}

header#page-header {
  background-color: #28afcd;
  color: white;
}

header#page-header .region-header {
  padding: 15px 0;
}
@media (min-width: 768px) {
  header#page-header .region-header {
    padding: 30px 15%;
  }
}

header#page-header .region-header label {
  display: none;
}

header#page-header .region-header button {
  border-color: #c77a00;
  text-transform: uppercase;
  color: white;
  background-color: #fa9900;
}
header#page-header .region-header button:hover {
  background-color: #e08900;
}

header#page-header .region-header .block-scdprimo {
  margin-bottom: 15px;
}

header#navbar {
  background-color: #1d8699;
  color: white;
  margin-bottom: 30px;
}

header#navbar a {
  background-color: #1d8699;
  color: #EDEDED;
}

header#navbar a:hover,
header#navbar a.dropdown-toggle.active[aria-expanded=true] {
  background-color: #187080;
}

header#navbar ul.dropdown-menu {
  background-color: #187080;
  border-color: #187080;
}

header#navbar ul.dropdown-menu a {
  background-color: #187080;
  padding-top: 10px;
  padding-bottom: 10px;
}

header#navbar ul.dropdown-menu a:hover {
  background-color: #135966;
}

@media (min-width: 768px) {
  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
  #block-menu-menu-sites {
    display: none;
  }
}

#todaypole td {
  text-align: center;
  padding: 16px;
}
table#todaypole td:first-child {
  border-right: 0;
  text-align: left;
}
table#todaypole td:nth-child(2) {
  border-left: 0;
}

div#todaypole table,
div#todaypole table tr:first-child td {
  border-top: 0;
}
div#todaypole table tr:first-child td {
  font-size: 20px;
}
div#todaypole ul.nav-tabs {
  margin-bottom: 0;
}
div#todaypole ul.nav-tabs li {
  max-width: 27%;
  overflow-x: hidden;
  white-space: nowrap;
}

#block-menu-menu-front-menu ul {
  margin: 0 -1.6666%;
}

#block-menu-menu-front-menu li.leaf {
  border: solid 2px #e8e3e3;
  width: 30%;
  margin: 15px 1.6666%;
  float: left;
}

#block-menu-menu-front-menu li.leaf a {
  text-align: center;
}

#block-menu-menu-sites li.leaf {
  background-color: #fa9900;
  border-radius: 6px;
  border: 1px solid #c77a00;
  margin: 15px 0;
}

#block-menu-menu-sites li.leaf a {
  text-align: center;
  color: white;
}

#block-menu-menu-sites li.leaf a:hover {
  background-color: #e08900;
}

.footer {
  background-color: #a3e7f0;
  padding: 35px 15px;
  border: 0;
}

.region-footer .block {
  position: relative;
  float: left;
  width: 25%;
  color: #212121;
}

.region-footer .block h2 {
  font-size: 24px;
  margin-top: 0;
}

.region-footer .block a {
  color: #212121;
  font-size: 16px;
}

.region-footer .block a:hover {
  background-color: #28AFCD;
}

footer section#block-block-1 {
  margin-top: 275px;
  font-size: 15px;
}

.footer section {
  padding: 0 10px;
}

.footer ul.nav {
  border-right: 2px solid #E8E3E3;
}

@media (max-width: 767px) {
  header#titlebar .logo {
    line-height: 50px;
  }

  header#titlebar .logo img {
    width: 50%;
  }
  
  header#titlebar .name {
    font-size: 22px;
    line-height: 50px;
    height: 50px;
    margin-left: 0px;
  }

  header#navbar {
    position: absolute;
    top: 0;
    width: 100%;
    background: transparent;
    z-index: 99;
  }
  header#navbar button.navbar-toggle {
    border: 0;
  }
  header#navbar button.navbar-togglei:hover,
  header#navbar button.navbar-togglei:focus {
    background-color: white;
  }
  header#navbar button.navbar-toggle .icon-bar {
    height: 3px;
    border-radius: 2px;
    background-color: #fa9900;
  }
  header#navbar .navbar-collapse {
    margin-left: 30px;
    border: 2px solid #e8e3e3;
    border-radius: 2px;
    background-color: white;
    color: #212121;
  }
  header#navbar .navbar-collapse .navbar-nav>li>a {
    background-color: white;
    color: #212121;
    font-weight: bold;
  }
  header#navbar a:hover, header#navbar a.dropdown-toggle.active[aria-expanded="true"] {
    background-color: white;
  }
  header#navbar .navbar-collapse .dropdown-menu {
    background-color: white;
  }
  header#navbar .navbar-collapse .dropdown-menu li a {
    background-color: white;
    color: #212121;
  }

  header#page-header {
    margin-bottom: 15px;
  }

  h2, .h2 {
    font-size: 20px;
  }

  section#block-menu-menu-front-menu {
    margin: 0;
  }

  section#block-menu-menu-front-menu ul {
    margin: 0 -1%;
  }

  section#block-menu-menu-front-menu li.leaf {
    width: 48%;
    margin: 2px 1%;
  }

  .region-footer section#block-menu-block-1,
  .region-footer section#block-menu-block-2,
  .region-footer section#block-views-libraries-block {
    display: none;
  }

  .region-footer section#block-block-1 {
    margin-top: 0px;
    width: 100%;
  }

  .footer {
    padding: 15px 0;
    margin: 0;
  }
}


